[submodule "ZC-PHP5.3/reveal.js"]
	path = ZC-PHP5.3/reveal.js
	url = git://github.com/hakimel/reveal.js.git
[submodule "PHP5.3to5.5/impress"]
	path = PHP5.3to5.5/impress
	url = git@github.com:bartaz/impress.js.git
